@font-face {
    font-family: 'Roboto';
    src: url('../font_roboto/Roboto-Medium.woff2') format('woff2'),
        url('../font_roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font_roboto/Roboto-Bold.woff2') format('woff2'),
        url('../font_roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font_roboto/Roboto-Light.woff2') format('woff2'),
        url('../font_roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font_roboto/Roboto-ExtraBold.woff2') format('woff2'),
        url('../font_roboto/Roboto-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font_roboto/Roboto-Black.woff2') format('woff2'),
        url('../font_roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font_roboto/Roboto-ExtraLight.woff2') format('woff2'),
        url('../font_roboto/Roboto-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font_roboto/Roboto-SemiBold.woff2') format('woff2'),
        url('../font_roboto/Roboto-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font_roboto/Roboto-Regular.woff2') format('woff2'),
        url('../font_roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../font_roboto/Roboto-Thin.woff2') format('woff2'),
        url('../font_roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

