@import url('./grid.css');
@import url('./font_roboto.css');
@import url('./font_source_sans.css');

/*_______________ H E A D E R _________*/
html {
    scroll-behavior: smooth;
}

header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;
    padding-top: 20px;
}

header .logo {
    padding-block: 18px;
}

header .logo a {
    font-size: 24px;
    color: #ff305b;
    font-weight: 800;
}

header .nav_bar {
    padding-block: 20px;
}

header ul li a {
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    transition: color ease 0.4s;
}

header ul li a:hover {
    color: #ff305b;
}

header ul li .active {
    color: #ff305b;
    font-weight: 200;
}

.navbar_toggle {
    color: #ffffff;
    padding: 9px;
    margin-top: 15px;
    margin-right: 15px;
    font-size: 20px;
}

header .sidenav {
    background-color: #333333;
    position: fixed;
    top: 45px;
    height: auto;
    width: 250px;
    right: -250px;
    z-index: 100;
    padding: 24px;
    opacity: 1;
    border-radius: 10px;
    margin-top: 15px;
    transition: all ease-in-out 0.3s;
}

header label {
    cursor: pointer;
}

header #sidebar-active {
    display: none;
}

header #sidebar-active:checked+.overlay {
    display: block;
    opacity: 1;
}

header #sidebar-active:checked~.sidenav {
    right: 0px;
}

/*_______________ H E R O  S E C T I O N _________*/
section.hero_section {
    /* overlay+hero image */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/hero\ img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    height: 100vh;
    text-align: center;
    position: relative;
}

.hero_content h3 {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px
}

.hero_content h1 {
    font-size: 70px;
    color: #ff305b;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px
}

.hero_content h4 {
    font-size: 26px;
    color: #ffffff;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 10px
}

.hero_content {
    position: relative;
    z-index: 1;
    flex-direction: column;
}

/* 
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 80%);
    z-index: 1;
} */

.typed-cursor {
    font-size: 40px;
    color: white;
    animation: blink 1s infinite;
    padding-left: 5px;
    animation-timing-function: ease;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*----Media Query ---*/
@media screen and (max-width:768px) {
    .hero_content h1 {
        font-size: 40px;
    }

    .hero_content h3 {
        font-size: 20px;
    }

    .hero_content h4 {
        font-size: 18px;
    }
}

/*________ A B O U T  M E   S E C T I O N _______*/
section.about_me {
    padding: 80PX 0;
}

.about_me::selection {
    color: #ff305b;
}

.about_profile_img {
    position: relative;
    box-shadow: 0 0 0 8px #555555 inset;
}

.about_me_img {
    border-radius: 4px;
    position: relative;
    transform: translateX(24px) translateY(24px);
}

.about_me_social_icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile_img_overlay {
    background-color: rgba(0, 0, 0, 0.57);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    height: 0px;
    visibility: hidden;
    transition: height ease 0.7s;
}

.about_profile_img:hover .profile_img_overlay {
    opacity: 1;
    border-radius: 5px;
    height: 100%;
    visibility: visible;
    cursor: pointer;
}

.about_me_social_icons a {
    color: white;
    padding-inline: 10px;
    font-size: 18px;
    transition: color ease 0.2s;
}

.about_me_social_icons i:hover {
    color: #ff305b;
}

.about_me_content h2::first-letter {
    color: #ff305b;
}

.about_me_content {
    padding-left: 70px;
}

.about_me_content h2 {
    color: #333333;
    font-size: 34px;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 22px;
}

.about_me_content p {
    color: #555555;
    font-size: 16px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px dashed #999999;
    line-height: 1.5;
}

.about_me_list {
    padding-left: 0px;
}

.about_me_list li span {
    color: #333333;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.about_me_list ul li {
    color: #555555;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px;
}

.about_me_list ul li:nth-child(2n+1) {
    float: left;
    width: 40%;
    padding-left: 0px;
}

.clear-fix {
    clear: left;
}

/*------ about me links download and hire me ----*/
.about_me_links a {
    color: #fff;
    background-color: #ff305b;
    font-family: "Roboto", sans-serif;
    padding: 10px 24px;
    border-radius: 4px;
    margin-right: 10px;
    transition: color ease 0.3s;
}

.about_me_links a:hover {
    background-color: rgb(134, 12, 12);
}

/*------ about me section media query -----*/
@media screen and (max-width:900px) {
    .about_me .row {
        justify-content: center;
    }

    .about_me_content {
        margin-top: 40px;
        padding-left: 0;
    }

    .about_me_content h2 {
        margin-top: 40px;
    }

}

@media screen and (max-width:620px) {
    .about_me_list ul li:nth-child(2n+1) {
        float: none;
        padding-left: 15px;
        width: 100%;
    }

    .about_me_links a {
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }

    .about_me_links {
        margin-top: 35px;
    }
}

/*________ O U R  S E R V I C E S  S E C T I O N  _______*/
section.our_services {
    background-color: #f1f1f1;
    padding-top: 100px;
    padding-bottom: 54px;
}

.our_services::selection {
    color: #ff305b;
}

.our_services h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    color: #333;
    position: relative;
    width: fit-content;
    margin-inline: auto;
}

.our_services h2::before {
    position: absolute;
    content: '';
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    bottom: 0;
    padding: 4px 0 5px;
    width: 30%;
    left: 35%;
}

.our_services h2::after {
    position: absolute;
    content: '';
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0 0 0;
    bottom: 5px;
    left: 15%;
    width: 70%;
}

/*---- our services card----*/
.service_card_inner a {
    margin-bottom: 20px;
    color: #ff305b;
    font-size: 25px;
    transition: all ease 0.2s;
}

.services_card:hover a {
    transform: scale(1.1);
    cursor: pointer;
}

.service_card_inner {
    transition: all 0.2s ease 0s;
    padding: 40px 15px;
}

.service_card_inner:hover {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #ffffff;
    cursor: pointer;
}

.services_card h3 {
    margin-bottom: 15px;
    color: #333333;
    font-size: 24px;
    font-weight: 500;
    width: 255px;
    line-height: 1.1;
}

.services_card p {
    color: #555555;
    line-height: 1.5em;
}

/*----Media Query ---*/
@media screen and (max-width:768px) {
    .service_card_inner {
        padding: 35px 25px;
    }

    section.our_services {
        padding-block: 60px;
    }
}

/*________ P O R T F O L I O  S E C T I O N _______*/
section.portfolio_section {
    padding: 100px 0 70px;
    background-color: #ffffff;
    text-align: center;
}

.portfolio_section h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    color: #333333;
    width: fit-content;
    margin-inline: auto;
    position: relative;
}

.portfolio_section h2::selection {
    color: #ff305b;
}

.portfolio_section h2::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 30%;
    left: 35%;
    padding: 4px 0 5px;
    border-block: 1px solid #ff305b;
}

.portfolio_section h2::after {
    position: absolute;
    content: "";
    width: 70%;
    bottom: 5px;
    left: 15%;
    border-top: 1px solid #ff305b;
}

/*------ portfolio buttons -----*/
.portfolio_buttons {
    margin-bottom: 50px;
}

.portfolio_buttons .active {
    color: #ff305b;
}

.portfolio_buttons button {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px 12px;
    transition: color ease 0.3s;
}

.portfolio_buttons button:nth-child(3) {
    white-space: nowrap;
}

.portfolio_buttons button:hover {
    color: #ff305b;
}

.portfolio_product a {
    position: relative;
}

.portfolio_product img {
    max-width: 100%;
    height: auto;
}

.portfolio_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.57);
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.3s;
    top: 0px;
    left: 0px;
}

.portfolio_product a:hover .portfolio_overlay {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.portfolio_overlay i {
    bottom: 10px;
    right: 10px;
    position: absolute;
    font-size: 26px;
    color: #ff305b;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.portfolio_product a:hover .portfolio_overlay i {
    transform: scale(1);
}

@media screen and (max-width:768px) {
    section.portfolio_section {
        padding-block: 60px;
    }

    .portfolio_product {
        padding-bottom: 25px;
    }

    .portfolio_buttons button {
        padding: 3px 7px;
    }
}

/*-----T E S T I M O N I A L    S E C T I O N ------*/
section.testimonial {
    background-color: #f1f1f1;
    padding-block: 100px;

}

section.testimonial::selection {
    color: #ff305b;
}

.testimonial ul {
    text-align: center;
}

.testimonial ul li i {
    font-size: 26px;
    margin-bottom: 15px;
    color: #ff305b;
}

.testimonial ul li h3 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #333333;
}

.testimonial ul li p {
    font-size: 16px;
    color: #555555;
}

/* media query */

@media screen and (max-width:768px) {

    .testimonial ul {
        padding-bottom: 20px;
    }

}

/*------ C L I E N T  F E E D B A C K  S E C T I O N ------*/

section.client_feedback {
    padding-block: 100px;
    color: #555555;
    background-color: #ffffff;
}

section.client_feedback::selection {
    color: #ff305b;
}

.client_feedback h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    color: #333333;
    position: relative;
    width: fit-content;
    margin-inline: auto;
}

.client_feedback h2::before {
    position: absolute;
    content: "";
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    bottom: 0;
    padding: 4px 0 5px;
    width: 30%;
    left: 35%;
}

.client_feedback h2::after {
    position: absolute;
    content: "";
    width: 70%;
    bottom: 5px;
    left: 15%;
    border-top: 1px solid #ff305b;
}

.client_img img {
    width: 110px;
    height: auto;
    border-radius: 50%;
    margin: 12px 12px;
}

.client_img {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.first_client {
    position: relative;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 40px;
    margin-inline: auto;
    max-width: 750px;
}

.first_client::after {
    content: "";
    position: absolute;
    border-color: #ff305b rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 191px;
    height: 72px;
    width: 77px;
    left: -199px;
    top: 0;
    transform: translateX(0%);
    z-index: 1;
}

.client_information_content h3 {
    font-weight: 600;
    margin: 0 0 10px;
    color: #333;
    font-size: 26px;
    margin-bottom: 10px;
}

.client_information_content h4 {
    color: #777777;
    font-size: 15px;
    margin-bottom: 10px;
}

.client_information_content h4 a {
    color: #777777;
    font-weight: 400;
}

.client_information_content p {
    color: #555555;
    margin-bottom: 15px;
    font-style: italic;
    max-width: 540px;
    line-height: 1.7;
}

.client_rating {
    color: #f1c30d;
    margin-bottom: 12px
}

.slider {
    margin-inline: auto;
    width: fit-content;
}

.slider_oval {
    background-color: #ff305b;
    border-radius: 10px;
    padding: 4px 12px;
    display: inline-block;
}

.slider_circle {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ff305b;
    border-radius: 50%;
    height: 10px;
    margin: 0 3px;
    width: 10px;
    display: inline-block;

}

/*----Media Query ---*/
@media screen and (max-width:768px) {
    .first_client {
        flex-direction: column;
        display: flex;
    }

    section.client_feedback {
        padding-block: 60px;
    }

    .client_img {
        margin-inline: auto;
    }
}

@media screen and (max-width:420px) {
    .client_feedback h2 {
        font-size: 30px;
    }
}

/*________  O U R   B L O G   S E C T I O N _______*/
.our_blog {
    background-color: #f1f1f1;
    padding: 100px 0px;
}

.our_blog::selection {
    color: #ff305b;
}

.our_blog h2 {
    font-size: 40px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    color: #333333;
    text-align: center;
    position: relative;
    width: fit-content;
    margin-inline: auto;
}

.our_blog h2::before {
    position: absolute;
    content: "";
    width: 30%;
    padding: 4px 0 5px;
    border-block: 1px solid #ff305b;
    left: 35%;
    bottom: 0px;
}

.our_blog h2::after {
    position: absolute;
    content: "";
    width: 70%;
    border-top: 1px solid #ff305b;
    left: 15%;
    bottom: 5px;
}

.our_blog .blog_inner {
    background-color: #ffffff;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.our_blog .blog_inner {
    margin-bottom: 30px;
}

.our_blog article {
    color: #555555;
    padding-inline: 20px;
}

.our_blog .blog_content {
    padding: 20px;
}

.our_blog .blog_content h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

.our_blog .blog_content h4 {
    font-weight: 600;
    font-size: 24px;
}

.our_blog .blog_content a {
    color: #333333;
    margin-bottom: 15px;
    transition: color ease 0.3s;
}

.our_blog .blog_content a:hover {
    color: #ff305b;
    cursor: pointer;
}

.our_blog .blog_content p {
    line-height: 1.5;
    margin-bottom: 15px;
}

.blog-video {
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
    overflow: hidden;
}

.blog-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media screen and (max-width:768px) {
    .our_blog {
        padding-block: 60px;
    }
}

/*________ C O N T A C T  U S  S E C T I O N  _______*/
section.contact_us {
    background-color: #ffffff;
    padding: 80px 0;
}

/* selection */
section.contact_us ::selection {
    color: #ff305b;
}

/* title */
.contact_us h2 {
    font-size: 40px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    color: #333333;
    text-align: center;
    position: relative;
    width: fit-content;
    margin-inline: auto;
}

.contact_us h2::before {
    position: absolute;
    content: "";
    border-color: #ff305b;
    border-style: solid;
    border-width: 1px 0;
    bottom: 0;
    padding: 4px 0 5px;
    width: 30%;
    left: 35%;
}

.contact_us h2::after {
    position: absolute;
    content: "";
    width: 70%;
    bottom: 5px;
    left: 15%;
    border-top: 1px solid #ff305b;
}

/* Contact Form */
.contact_us form {
    width: 100%;
    margin-inline: auto;
}
.input_name,.input_email {
    padding-left: 0px;
} 

/* inputs & textarea */
.contact_us input,
.contact_us textarea {
    outline: none;
    border-radius: 5px;
    height: 40px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease 0.2s, box-shadow ease 0.2s;
    width: 100%;
    box-sizing: border-box;
}

/* name & email */
.input_name input,
.input_email input {
    padding: 0 15px;
}

/* validation text */
.input_name p,
.input_email p,
.input_subject p,
.textarea p {
    color: #a94442;
    padding-top: 5px;
    margin-bottom: 20px;
}

/* textarea */
.contact_us textarea {
    resize: vertical;
    height: auto;
}

/* focus */
.contact_us input:focus,
.contact_us textarea:focus {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
        0 0 6px #ce8483;
}

/* button */
div.button button {
    background-color: #ff305b;
    color: #ffffff;
    padding-inline: 20px;
    transition: background-color ease 0.2s;
    border-radius: 5px;
    height: 40px;
    opacity: 1;
    border: none;
}

div.button button:hover {
    background-color: rgb(136, 26, 26);
}

/* spacing between fields */
.contact_us .row>div {
    margin-bottom: 20px;
}

/* responsive */
@media screen and (max-width: 768px) {
    section.contact_us {
        padding-block: 60px;
    }
}



.error-msg {
    display: none;
    color: #a94442;
    font-size: 13px;
    margin-top: 5px;
}

/*_____________ F O O T E R _____________*/
.footer {
    background-color: #333333;
    padding-block: 35px;
    text-align: center;
    padding: 40px;
}

.footer-icons ul li {
    display: inline-block;
}

.footer-icons a {
    color: white;
    padding-inline: 10px;
    font-size: 18px;
}

.footer-icons i:hover {
    color: #ff305b;
}

.footer p {
    color: #ffffff;
    margin-top: 15px;
}

.footer p::selection {
    color: #ff305b;
}

.footer p a {
    color: #ff305b;
    transition: color ease 0.3s;
}

.footer p a:hover {
    text-decoration-line: underline;
    text-decoration-color: #ff305b;
    text-decoration-thickness: 1px;
}